<div
  class="sticky w-full navbar top-0 shadow-md border bg-base-100 border-opacity-30 py-0 px-1 z-20"
>
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/raw-data">Raw Data</a></li>
        <li>
          <a routerLink="/webhooks">WebHooks </a>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl" routerLink="/">OutboundUp</a>
  </div>
  <div class="hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="btn btn-accent"
        >
          <span class="material-icons-outlined">home</span>Home</a
        >
      </li>
      <li>
        <a
          routerLink="/raw-data"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="btn btn-accent"
          ><span class="material-icons-outlined">dataset</span>Raw Data</a
        >
      </li>
      <li>
        <a
          routerLink="/webhooks"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="btn btn-accent"
          ><span class="material-icons-outlined">webhook</span>WebHooks</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <span
      [title]="statusMessage"
      ngClass="material-icons-outlined cursor-pointer mr-5 {{
        healthCheckResult?.data?.isJobRunning ? 'animate-spin' : null
      }} {{ healthCheckResult ? 'text-green-600' : 'text-red-600' }}"
      >settings</span
    >
  </div>
</div>
