<div class="mt-10 mb-10 space-y-10 items-center flex flex-col">
  <div class="card card-compact w-4/5 shadow-xl bg-base-100">
    <div class="card-body max-h-[50em]">
      <h2 class="card-title flex">
        <span class="underline">Raw Data</span>
        <div class="flex-1"></div>
        <div class="form-control max-w-sm">
          <select
            title="Page Number"
            #selectedPageNumber
            [value]="pageSize"
            (change)="onPageNumberChange(selectedPageNumber.value)"
            class="select select-sm select-info"
          >
            <option *ngFor="let page of pages">{{ page.toString() }}</option>
          </select>
        </div>
        <div class="form-control max-w-sm">
          <select
            title="Page Size"
            #selectedPageSize
            [value]="pageSize"
            (change)="onPageSizeChange(selectedPageSize.value)"
            class="select select-info select-sm"
          >
            <option>10</option>
            <option>25</option>
            <option>50</option>
          </select>
        </div>
        <span class="badge badge-lg flex-none"
          >Total Records: {{ speedTestResults?.totalCount }}</span
        >
      </h2>
      <progress
        class="progress w-full"
        *ngIf="!speedTestResults?.tableData?.length"
      ></progress>
      <div class="overflow-x-auto" *ngIf="speedTestResults?.tableData?.length">
        <table
          class="table w-full table-zebra table-compact"
          aria-labelledby="tableLabel"
        >
          <thead>
            <tr>
              <th>Id</th>
              <th>Timestamp</th>
              <th>Success</th>
              <th>Server Host Name</th>
              <th>Download Speed (Mpbs)</th>
              <th>Upload Speed (Mpbs)</th>
              <th>Ping</th>
              <th>Ping High</th>
              <th>Ping Low</th>
              <th>Download Latency Average</th>
              <th>Download Latency High</th>
              <th>Download Latency Low</th>
              <th>Upload Latency Average</th>
              <th>Upload Latency High</th>
              <th>Upload Latency Low</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="hover"
              *ngFor="let result of speedTestResults?.tableData"
            >
              <th>{{ result.id }}</th>
              <td>{{ result.timestamp }}</td>
              <td>{{ result.isSuccess }}</td>
              <td>{{ result.serverHostName }}</td>
              <td>{{ result.downloadSpeed }}</td>
              <td>{{ result.uploadSpeed }}</td>
              <td>{{ result.pingAverage }}</td>
              <td>{{ result.pingHigh }}</td>
              <td>{{ result.pingLow }}</td>
              <td>{{ result.downloadLatencyAverage }}</td>
              <td>{{ result.downloadLatencyHigh }}</td>
              <td>{{ result.downloadLatencyLow }}</td>
              <td>{{ result.uploadLatencyAverage }}</td>
              <td>{{ result.uploadLatencyHigh }}</td>
              <td>{{ result.uploadLatencyLow }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
