<input type="checkbox" id="my-modal" class="modal-toggle" />
<div [ngClass]="createModalClasses">
  <div class="modal-box" (submit)="createWebHook()">
    <h3 class="font-bold text-lg">Create New Webhook</h3>
    <p>
      A request can be sent out to a webhook every time a speed test completes.
      The body is the SpeedTestResult data that can be viewed on the Raw Data
      page.
    </p>
    <form class="mt-5" [formGroup]="formGroup">
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Target Url</span>
        </label>
        <input
          type="text"
          placeholder="https://my-webhook-host/endpoint"
          class="input input-sm input-bordered w-full"
          formControlName="targetUrl"
          required
        />
      </div>

      <div class="modal-action">
        <button class="btn btn-sm" type="submit" [disabled]="formGroup.invalid">
          Create
        </button>
        <button
          class="btn btn-sm btn-secondary"
          type="reset"
          (click)="closeCreateModal()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<div class="mt-10 mb-10 space-y-10 items-center flex flex-col">
  <div class="card card-compact w-4/5 shadow-xl bg-base-100">
    <div class="card-body max-h-[50em]">
      <h2 class="card-title flex">
        <span class="underline">WebHooks</span>
        <div class="flex-1"></div>
        <button
          class="btn btn-primary btn-sm"
          title="Add Webhook"
          (click)="showCreateModal()"
        >
          Create WebHook
        </button>
      </h2>
      <span class="w-full" *ngIf="!webhooks?.length"
        >No Webhooks have been registered</span
      >
      <div class="overflow-x-auto" *ngIf="webhooks?.length">
        <table
          class="table w-full table-zebra table-compact"
          aria-labelledby="tableLabel"
        >
          <thead>
            <tr>
              <th>Id</th>
              <th>Target Url</th>
              <th>HTTP Method</th>
              <th>Last Run Succeeded</th>
              <th>Last Run Response Body</th>
              <th>Last Run Status Code</th>
            </tr>
          </thead>
          <tbody>
            <tr class="hover" *ngFor="let result of webhooks">
              <th>{{ result.id }}</th>
              <td>{{ result.targetUrl }}</td>
              <td>{{ result.httpMethod }}</td>
              <td>{{ result.results[0].isSuccess }}</td>
              <td>{{ result.results[0].responseBody }}</td>
              <td>{{ result.results[0].responseCode }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
